In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime

In [159]:
# read all_trips.csv
all_trips_data = pd.read_csv("all_trips.csv")
all_trips_data.shape

/Users/chenjuanqi/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,5,8,11,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(9160223, 18)

In [160]:
# drop all NAs in end_station_name and start_station_name
all_trips_data = all_trips_data.dropna(subset=['end_station_name', 'start_station_name'])
all_trips_data.shape

(7739591, 18)

In [206]:
# sort according to start_time
# all_trips_data = all_trips_data.sort_values(by=['start_time'])
# reset index
# all_trips_data = all_trips_data.reset_index(drop=True)
# started this line, the start_time is bigger than year 2020. There is no data from 2020-01-01 to 2020-03-31
new_trip_data = all_trips_data.iloc[-2290075:]
new_trip_data.head(5)

,Unnamed: 0,ride_id,duration_sec,start_time,start_station_name,start_station_id,end_time,end_station_name,end_station_id,bike_id,user_type,zip_code,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,rental_access_method,bike_type
5449516,9132641,405802227549A10C,290.0,2020-04-01 00:00:38,2nd Ave at E 18th St,OK-K9,2020-04-01 00:05:28,Lakeside Dr at 14th St,OK-L7-2,NaN,casual,NaN,37.800214,-122.253810,37.801319,-122.262642,NaN,docked_bike
5449517,9119165,6CB1403A6272EC42,303.0,2020-04-01 00:04:31,Bancroft Way at Telegraph Ave,BK-E9-1,2020-04-01 00:09:34,MLK Jr Way at University Ave,BK-C6,NaN,member,NaN,37.868813,-122.258764,37.871719,-122.273068,NaN,docked_bike
5449518,9142876,4C05A5F129E384D4,367.0,2020-04-01 00:11:02,15th St at Potrero Ave,SF-M26,2020-04-01 00:17:09,Golden Gate Ave at Polk St,SF-I23-1,NaN,member,NaN,37.767048,-122.407471,37.781322,-122.418040,NaN,electric_bike
5449519,9108403,5F70540BDFB36F13,2156.0,2020-04-01 00:16:42,Washington St at Kearny St,SF-D27,2020-04-01 00:52:38,Lombard St at Columbus Ave,SF-B25,NaN,member,NaN,37.795161,-122.404806,37.802764,-122.413349,NaN,electric_bike
5449520,9151560,B737B30D47CFBC7C,1206.0,2020-04-01 00:24:16,Snow Park,OK-J6-2,2020-04-01 00:44:22,Lakeside Dr at 14th St,OK-L7-2,NaN,casual,NaN,37.807813,-122.264496,37.801319,-122.262642,NaN,docked_bike

In [ ]:
# 
# strange row number: 
#   664666  (data type not convertable)
#   5446390 (data type not convertable)
#   5529590 (already date)
#   
# we first tried to use this following code, but the data type is various in this column. 
# Also the for loop cost too much time processing this large dataset. 
# for i in range(all_trips_data.shape[0]):
#     if i > 5529590 and (type(all_trips_data['start_time'].iloc[i]) is str): 
#         all_trips_data['start_time'].iloc[i] = datetime.strptime(all_trips_data['start_time'].iloc[i], '%Y-%m-%d %H:%M:%S')
# type(all_trips_data['start_time'].iloc[5446390]) is datetime

# all_trips_data = all_trips_data.drop(664666, axis = 0, inplace=True)
# all_trips_data.shape

# all_trips_data.reset_index(drop=True)

# all_trips_data['start_time'][664666:5446390]

# Therefore we finally use dichotomizing search to find the line which start time is 2020. This is much faster than using loops in this case. 
# all_trips_data = all_trips_data.iloc[-2293203:]
# all_trips_data.shape
# new_trip_data = all_trips_data.iloc[-2293203:]
# new_trip_data.head(5)

In [93]:
# if we change the datatype successfully, this should be the original coding
# all_trips_data.head(-5)
# int(all_trips_data['start_time'].iloc[0][0:4])<2020

/Users/chenjuanqi/opt/anaconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
# all_trips_data[all_trips_data['start_time'].all_trips_data.strftime('%Y')>='2020']
# all_trips_data.shape